html{
    background-color: aquamarine;
}
input{
    padding-right: 20px;
}
table, td, th{
    border: solid black 2px;
    text-align: left;
    padding: 20px;
}
table{
    width: 1000px;
    margin: auto;
    border: solid black 10px;
}
#total-monthly{
    float: right;
}
div{
    text-align: center;
}
h1{
    text-align: left;
}
header{
    text-align: center;
}
#big-div{
    width: 1000px;
    margin: auto;
}
header{
    background-color: gray;

}